#input, #output{
    resize: none;
    padding-top: 0px;
    border-color: #abd6ff;
    background-color: aliceblue;
    opacity: 1;
    top: -15px;
}
div#dijit_Dialog_0 {
    background-color: #c2d4e2;
}
.claro .dijitDialogTitleBar{
    background-color: rgba(0,0,0,0);
    border: none;
}
.claro .dijitDialogPaneContent{
    background: none;
    border: none;
}
.calcButton {
    display: block;
    background-color: #5e9cc0;
    border-color: #5e9cc0;
    width: 59px;
    height: 44px;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
}
#button-0 {
    position: absolute;
    top: 332px;
    left: 5px;
}
#button-1 {
    position: absolute;
    top: 286px;
    left: 5px;
}
#button-2 {
    position: absolute;
    top: 286px;
    left: 67px;
}
#button-3 {
    position: absolute;
    top: 286px;
    left: 129px;
}
#button-4 {
    position: absolute;
    top: 240px;
    left: 5px;
}
#button-5 {
    position: absolute;
    top: 240px;
    left: 67px;
}
#button-6 {
    position: absolute;
    top: 240px;
    left: 129px;
}
#button-7 {
    position: absolute;
    top: 194px;
    left: 5px;
}
#button-8 {
    position: absolute;
    top: 194px;
    left: 67px;
}
#button-9 {
    position: absolute;
    top: 194px;
    left: 129px;
}
#plus-btn {
    position: absolute;
    top: 194px;
    left: 191px;
}
#minus-btn {
    position: absolute;
    top: 240px;
    left: 191px;
}
#times-btn {
    position: absolute;
    top: 286px;
    left: 191px;
}
#divide-btn {
    position: absolute;
    top: 332px;
    left: 191px;
}
#decimal-btn {
    position: absolute;
    top: 332px;
    left: 67px;
}
#equals-btn {
    position: absolute;
    top: 332px;
    left: 129px;
}
#left-parenth-btn {
    position: absolute;
    top: 148px;
    left: 5px;
}
#right-parenth-btn {
    position: absolute;
    top: 148px;
    left: 67px;
}
#backspace-btn {
    position: absolute;
    top: 148px;
    left: 129px;
}
#clear-btn {
    position: absolute;
    top: 148px;
    left: 191px;
}
